.lp-content {

}

.lp-content-upper {
    font-size: small;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 8px;
}

.lp-content-places {
    font-size: small;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 8px;
}